# Archivos de compilación
*.iml
.gradle/
/build/
/app/build/

# Archivos locales y configuraciones de usuario
local.properties

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Entorno de Android Studio / IntelliJ
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.gradle

/local.properties
/build
*.jks
*.keystore

# === JAVA / MAVEN ===
*.log

# === ANDROID / GRADLE ===
*/build/

# APKs y compilados
*.apk
*.dex
*.class
