# Archivos de compilación
*.iml
.gradle/
/build/
/app/build/

# Archivos locales y configuraciones de usuario
local.properties

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Entorno de Android Studio / IntelliJ
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
